<h2>Update password</h2>

<div class="row-div">
    <div class="col-div-label">
        <label>New password: </label>
    </div>
    <div class="col-div-input">
        <input type="password" [(ngModel)]="password" required />
    </div>
</div>

<div class="row-div">
    <div class="col-div-label">
        <label>Confirm new password: </label>
    </div>
    <div class="col-div-input">
        <input type="password" [(ngModel)]="confirmPassword" required />
    </div>
</div>

<div class="btn-area">
    <button type="button" (click)="updatePassword()">Update</button>
</div>
