<h2>Login form</h2>

<form [formGroup]="loginForm">
    <div class="table-div">
        <div class="row-div">
            <div class="col-div-label">
                <label for="userName" >User name:</label>
            </div>
            <div class="col-div-input">
                <input formControlName="userName" type="text" />
            </div>
        </div>
        
        <div class="row-div">
            <div class="col-div">
                <div class="col-div-label">
                    <label for="password">Password:</label>
                </div>
                <div class="col-div-input">
                    <input formControlName="password" type="password" />
                </div>
            </div>
        </div>
    </div>

    <div class="btn-area">
        <button type="submit" (click)="login()">Login</button>
    </div>

    <div class="link-area">
        <a routerLink="/signup">→Signup</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="/forgotPassword">→Forgot password</a>
    </div>
</form>