<h2>Forgot password</h2>

<div class="row-div">
    <div class="col-div-label">
        <label>Email: </label>
    </div>
    <div class="col-div-input">
        <input type="text" [(ngModel)]="email"required />
    </div>
</div>

<div class="btn-area">
    <button type="button" [disabled]="loading" (click)="submit()"> 
        <img style="width: 20px; float: right;" src="assets/img/loading.gif" *ngIf="loading" />
        Submit
    </button>
</div>
<div class="link-area">   
    <a routerLink="/login">→Back to login</a>
</div>

